# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Composer
vendor/
composer.lock

# WordPress
wp/
wp-content/

# OS or Editor folders
.DS_Store
*.sublime-project
*.sublime-workspace
